{% extends 'base.html.twig' %}

{% block title %}
  Agregar
{% endblock %}

{% block body %}
  <div class="row mt-5 mb-3">
    <div class="col">
      <h1>Agregar Registro</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path('crud_show') }}">Volver</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Agregar Registro</li>
        </ol>
      </nav>
    </div>
  </div>

  {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">{{ form_row(form.name) }}</div>
      <div class="form-group">{{ form_row(form.lastname) }}</div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">{{ form_row(form.email) }}</div>
      <div class="form-group">{{ form_row(form.phone) }}</div>
    </div>
    <div class="col d-flex">
      <button type="submit" class="btn btn-primary ms-auto">
        Guardar
        <i class="bi bi-floppy-fill" style="margin-left: 8px;"></i>
      </button>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
